.contador {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
}

 .contador i {
    padding-left: 10px;
} 

.contador button {
    display:flex;
    background-color: #fde503;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 50%;
    color:black;
    font-size: 16px;
    margin: 5px;
}
