.leyend {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(77, 77, 77, 0.849);
	width: max-content;
	border-radius: 15px;
	font-size: 24px;
	font-style: italic;
	color: #ffffff;
	margin: 40px;
	padding: 20px;
}

.leyend img {
	width: 70%;
	border-radius: 50%;
	margin: 10px;
}

.leyendText {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.leyend a {
	text-decoration: none;
	font-family: "Chakra Petch", sans-serif;
	font-size: 30px;
	font-style: normal;
	color: #fde503;
}

.leyend a:hover {
	color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

@media (max-width: 768px) {
	.leyend {
		font-size: 16px;
        width: 80%;
		margin: 20px;
		padding: 10px;
	}

	.leyend a {
		font-size: 18px;
	}

	.leyend img {
		width: 30%;
		border-radius: 50%;
		margin: 5px;
	}
}
