.nav-logo {
    width: 90px;
    margin: 20px;
 }

@media (prefers-reduced-motion: no-preference) {
    .nav-logo {
       animation: App-logo-spin infinite 40s linear;
    }
 }
 
 @keyframes App-logo-spin {
    from {
       transform: rotate(0deg);
    }
    to {
       transform: rotate(360deg);
    }
 }
 